
body{
background-color: blanchedalmond;
    
}
.left_bar{
    display: block;
    width:150px;
    height: 100%;
    background-color: cadetblue;
    top:0;
    color: white;
    left:0;
    position:fixed;
}
.left_bar a{
    color: white;
}

.Left_Bar1
{
    text-align: center;
    color:black;
    font-size: 1.5rem;
    margin-top:80px;
    display: block;
    text-decoration: none;
}
.box2{
     width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}
.box2 h1{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color:cadetblue;
    font-size: 20px;
}
.totalHOME{
 margin-left: 150px;   
margin-right: 15px;
}
.box_2nd1{
     height: 200px;
   
   margin-top: 30px;
    border-bottom:2px solid red;
}
.box1{
    height: 100px;
   
   margin-top: 30px;
    border-bottom:2px solid red;
}

.totalHome h1{
    font-size: 03px;
}

.mine{
   font-size: 17px;
    margin-bottom: 5px;
   margin-right: 300px;
    display: inline-block;
}
.margin_Top{
    margin-top: 70px;
}
.mine1{
       font-size: 17px;
    margin-bottom: 5px;
   margin-right: 300px;
    display: block;
}